<mapper namespace="com.lagou.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.lagou.pojo.User" >
        select * from user
    </select>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>


    <insert id="insert" paramterType="com.lagou.pojo.User" resultType="java.lang.Boolean">
        insert into user values(#{id}, #{username})
    </insert>

    <update id="updateById" paramterType="com.lagou.pojo.User" resultType="java.lang.Boolean">
        update user set username=#{username}
            where id = #{id}
    </update>

    <delete id="deleteById" paramterType="java.lang.Integer" resultType="java.lang.Boolean">
        delete from user where id = #{id}
    </delete>

</mapper>